$mau_den:#292D32;
$mau_xam_nhat: #E1E1E1;
$font1:'Inter', sans-serif;
$lspc :0.025em;


.main{
    position: relative;
    display: block;
    width: auto;
    margin-left: 23.6rem;
    p{
        position: absolute;
        left: 2.5rem;
        font-family: $font1;
        font-size: 2rem;
        font-style: bold;
        letter-spacing: $lspc;

    }
}
//--------grid-1---------//
.grid-1{
    position: relative;
    display: grid;
    margin-left:2.5rem;
    top: 6.2rem;
    width: auto;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    row-gap: 5rem;
    justify-items: center;
    img{
        position: relative;
        height: 25.6rem;
        max-width: 34.1rem;
        border-radius: 1.2rem;
        cursor: pointer;
    }
    .tittle{
        display: block;
        margin-top: 1.4rem;
        margin-bottom: 1rem;
        max-width: 28rem;
        font-family: $font1;
        font-size: 1.6rem;
        font-weight: 600;
        letter-spacing: $lspc;
        cursor: pointer;
        
    }
    .view{
        margin-right: 2rem;
        font-family: $font1;
        font-size: 1.2rem;
        font-weight: 500;
        letter-spacing: $lspc;
    }
    .date{
        font-family: $font1;
        font-size: 1.2rem;
        font-weight: 500;
        letter-spacing: $lspc;
    }
    .channel{
        margin-top: 1.2rem;
        img{
            border-radius: 50%;
            width: 3.2rem;
            height: 3.2rem;
        }
        button{
            width: max-content;
            padding-left: 0.8rem;
            padding-bottom: 0.8rem;
            padding-right: 0.8rem;
            font-family: $font1;
            letter-spacing: $lspc;
            font-size: 1.6rem;
            background: none;
            border:none;
            transform: translateY(-30%); 
            cursor: pointer;
        }
    }

}