* {
  box-sizing: border-box;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  margin: 0;
}

.sidebar {
  position: fixed;
  width: 23.6rem;
  height: 100%;
  background: #FFFFFF;
  box-shadow: 0.5rem 0px 2rem rgba(105, 69, 69, 0.1);
}

.blackhead {
  position: relative;
  background-color: #292D32;
  display: flex;
  color: white;
  width: 23.6rem;
  height: 8.6rem;
  justify-content: left;
  align-items: center;
}
.blackhead ion-icon {
  font-size: 2.4rem;
  left: 3.6rem;
  transform: translateX(36px);
}
.blackhead a {
  text-decoration: none;
  color: white;
  font-family: "Inter", sans-serif;
  letter-spacing: 0.025em;
  font-size: 1.518rem;
  transform: translateX(45px);
}

.ctn_btn {
  position: relative;
  top: 4.1rem;
}
.ctn_btn img {
  position: relative;
  left: 2.4rem;
  vertical-align: middle;
}
.ctn_btn button {
  position: relative;
  font-family: "Inter", sans-serif;
  font-size: 1.4rem;
  letter-spacing: 0.025rem;
  text-align: left;
  width: 100%;
  height: 4rem;
  border: None;
  background: none;
}
.ctn_btn button span {
  position: relative;
  display: inline-block;
  left: 4.5rem;
  transform: translateY(10%);
}
.ctn_btn button:hover {
  background-color: #E1E1E1;
}
.ctn_btn button:hover span, .ctn_btn button:hover img {
  filter: drop-shadow(0px 0.4rem 0.4rem rgba(0, 0, 0, 0.25));
}

.menu_head {
  position: relative;
  left: 2.6rem;
  top: 3.2rem;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 1.2rem;
  color: #ACACAC;
}

#libra {
  position: absolute;
  top: 32.5rem;
}

#libra-menu {
  position: absolute;
  top: 35rem;
}

.following {
  position: absolute;
  top: 53.2rem;
  left: 2.6rem;
}
.following .fl-ctn {
  position: absolute;
  display: flexbox;
  top: 1.6rem;
}
.following .fl-ctn .box {
  width: 13.7rem;
  height: 2.4rem;
  align-items: center;
  margin-top: 1.6rem;
  justify-content: center;
}
.following .fl-ctn .box span {
  margin-left: 2.3rem;
  transform: translateY(25%);
}
.following img {
  width: 2.4rem;
  height: 2.4rem;
  border-radius: 50%;
}
.following span {
  position: absolute;
  font-family: "Inter", sans-serif;
  font-size: 1.4rem;
  letter-spacing: 0.025rem;
}
.following #flh {
  color: #ACACAC;
  font-size: 1.2rem;
}

.get_premium {
  position: absolute;
  width: 18.9rem;
  height: 15.7rem;
  top: 77rem;
  left: 2.4rem;
  border-radius: 1rem;
  background-color: #292D32;
}
.get_premium span {
  position: relative;
  color: white;
  font-family: "Inter", sans-serif;
  display: block;
  top: 2rem;
  left: 50%;
  transform: translateX(-50%);
  max-width: 18rem;
  text-align: center;
}
.get_premium #get1 {
  font-weight: 500;
  font-size: 1.35rem;
  line-height: 1.7rem;
  width: 16.7rem;
  height: 3rem;
  text-transform: capitalize;
}
.get_premium #get2 {
  top: 3rem;
  width: 15.8rem;
  font-size: 1.1rem;
  font-weight: 200;
  letter-spacing: 0.025rem;
}
.get_premium button {
  position: absolute;
  top: 9.6rem;
  left: 50%;
  transform: translateX(-50%);
  width: 16.1rem;
  height: 4.1rem;
  border-radius: 0.8rem;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  letter-spacing: 0.025rem;
}

.alter-icon {
  position: fixed;
  top: 15rem;
}
.alter-icon img {
  position: relative;
  width: 3rem;
  vertical-align: middle;
}
.alter-icon button {
  position: relative;
  left: 1.4rem;
  display: block;
  font-size: 1.4rem;
  text-align: left;
  padding: 1rem;
  margin-bottom: 1.5rem;
  height: 4rem;
  border: None;
  border-radius: 50%;
  background: none;
}
.alter-icon button:hover {
  background-color: #E1E1E1;
}
.alter-icon button:hover span, .alter-icon button:hover img {
  filter: drop-shadow(0px 0.4rem 0.4rem rgba(0, 0, 0, 0.25));
}

.nav {
  position: sticky;
  z-index: 2;
  display: block;
  width: auto;
  height: 8.6rem;
  margin-left: 23.6rem;
}
.nav .searchbox input {
  position: absolute;
  width: 44.8rem;
  height: 3.9rem;
  padding-left: 2rem;
  border-radius: 1rem;
  border: solid #ECECEC;
  border-width: 0.1rem;
  top: 2.6rem;
  left: 2.1rem;
  font-family: "Inter", sans-serif;
  font-weight: 100;
  font-size: 1.3rem;
  letter-spacing: 0.1rem;
}
.nav .searchbox img {
  position: absolute;
  top: 3.7rem;
  left: 43.3rem;
}

.addvideo {
  position: absolute;
  right: 42.6rem;
}
.addvideo button {
  position: inherit;
  top: 2.7rem;
  padding-left: 4rem;
  width: 14rem;
  height: 4rem;
  border-radius: 0.8rem;
  border: none;
  background-color: #292D32;
  font-family: "Inter", sans-serif;
  letter-spacing: 0.025em;
  font-size: 1.3rem;
  font-weight: 700;
  color: #ECECEC;
  cursor: pointer;
  transition: all ease 0.2s;
}
.addvideo button:hover {
  background-color: rgba(41, 45, 50, 0.768627451);
  box-shadow: 5px 0px 20px rgba(105, 69, 69, 0.1);
  text-shadow: 5px 0px 20px rgba(105, 69, 69, 0.1);
}
.addvideo img {
  position: absolute;
  top: 3.5rem;
  left: 1.6rem;
}

.noti_btn {
  position: absolute;
  right: 21rem;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}
.noti_btn button {
  width: 3.9rem;
  height: 3.9rem;
  border: none;
  border-radius: 0.8rem;
  background-color: #E5E4FE;
  cursor: pointer;
  transition: all ease 0.2s;
}
.noti_btn button img {
  width: 2.4rem;
  transform: translateY(5%);
}
.noti_btn button:hover {
  background-color: #c8c7da;
}
.noti_btn #noti_num {
  width: 2rem;
  position: absolute;
  left: 2.7rem;
  bottom: 2.9rem;
}

.account {
  position: absolute;
  width: 15.8rem;
  height: 4rem;
  right: 2.75rem;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}
.account img {
  position: absolute;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
}
.account button {
  position: absolute;
  left: 5.2rem;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1.4rem;
  font-family: "Inter", sans-serif;
  letter-spacing: 0.025em;
  width: max-content;
  background: none;
  border: none;
}
.account .drop-content {
  position: absolute;
  display: none;
  top: 4.5rem;
  right: 0;
  width: 25rem;
  cursor: pointer;
}
.account .drop-content a {
  display: block;
  padding: 2rem;
  text-decoration: none;
  color: #292D32;
  background-color: rgb(243, 243, 243);
  font-family: "Inter", sans-serif;
  letter-spacing: 0.025em;
  font-size: 1.4rem;
  text-align: left;
}
.account .drop-content a ion-icon {
  transform: translateY(20%);
  font-size: 2.3rem;
  padding-right: 2.5rem;
}
.account .drop-content a:hover {
  background-color: #e9e8e8;
}

.account:hover .drop-content {
  display: block;
}

.main {
  position: relative;
  display: block;
  width: auto;
  margin-left: 23.6rem;
}
.main p {
  position: absolute;
  left: 2.5rem;
  font-family: "Inter", sans-serif;
  font-size: 2rem;
  font-style: bold;
  letter-spacing: 0.025em;
}

.grid-1 {
  position: relative;
  display: grid;
  margin-left: 2.5rem;
  top: 6.2rem;
  width: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  row-gap: 5rem;
  justify-items: center;
}
.grid-1 img {
  position: relative;
  height: 25.6rem;
  max-width: 34.1rem;
  border-radius: 1.2rem;
  cursor: pointer;
}
.grid-1 .tittle {
  display: block;
  margin-top: 1.4rem;
  margin-bottom: 1rem;
  max-width: 28rem;
  font-family: "Inter", sans-serif;
  font-size: 1.6rem;
  font-weight: 600;
  letter-spacing: 0.025em;
  cursor: pointer;
}
.grid-1 .view {
  margin-right: 2rem;
  font-family: "Inter", sans-serif;
  font-size: 1.2rem;
  font-weight: 500;
  letter-spacing: 0.025em;
}
.grid-1 .date {
  font-family: "Inter", sans-serif;
  font-size: 1.2rem;
  font-weight: 500;
  letter-spacing: 0.025em;
}
.grid-1 .channel {
  margin-top: 1.2rem;
}
.grid-1 .channel img {
  border-radius: 50%;
  width: 3.2rem;
  height: 3.2rem;
}
.grid-1 .channel button {
  width: max-content;
  padding-left: 0.8rem;
  padding-bottom: 0.8rem;
  padding-right: 0.8rem;
  font-family: "Inter", sans-serif;
  letter-spacing: 0.025em;
  font-size: 1.6rem;
  background: none;
  border: none;
  transform: translateY(-30%);
  cursor: pointer;
}

@media screen and (min-width: 2560px) {
  html {
    font-size: 100%;
  }

  .sidebar {
    display: block;
  }

  .alter-icon {
    display: none;
  }

  .grid-1 {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
}
@media screen and (min-width: 1920px) {
  .alter-icon {
    display: none;
  }
}
@media screen and (max-width: 1920px) {
  html {
    font-size: 65%;
  }

  .grid-1 {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media screen and (min-width: 1024px) {
  .alter-icon {
    display: none;
  }
}
@media screen and (max-width: 1024px) {
  html {
    font-size: 70%;
  }

  .nav, .main {
    transform: translateX(-7.2rem);
  }

  .sidebar, .blackhead {
    display: block;
    width: 7.2rem;
  }
  .sidebar button, .sidebar a, .sidebar span, .sidebar .get_premium, .blackhead button, .blackhead a, .blackhead span, .blackhead .get_premium {
    display: none;
  }
  .sidebar img, .blackhead img {
    display: block;
  }

  .grid-1 {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media screen and (max-width: 76.8rem) {
  html {
    font-size: 55%;
  }

  .sidebar {
    display: block;
  }

  .alter-icon {
    display: block;
  }

  .grid-1 {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (max-width: 40rem) {
  html {
    font-size: 40%;
  }

  .sidebar {
    display: block;
  }

  .alter-icon {
    display: block;
  }

  .grid-1 {
    grid-template-columns: 1fr;
  }

  .addvideo {
    display: none;
  }

  .noti_btn {
    display: none;
  }

  .account {
    right: 1rem;
  }

  .nav .searchbox input {
    transform: translateX(-5rem);
    width: 20rem;
  }
  .nav .searchbox img {
    display: none;
  }
}

/*# sourceMappingURL=style.css.map */
